/* Region général */
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:2.9rem;
}

html {
	font-size:62.5%;
}

body {
	text-align: center;
	font-family: Calibri, serif;
	background: white;
	margin-bottom: 5rem;
}
/* End the region général */

/* Region Header and Footer */
header, footer {
	margin: 0;
	padding: 0;
}

header {
	box-shadow: #DDD 0 0 4px 4px;
	display: inline-block;
	width: 100%;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	box-shadow: #DDD 0 0 4px 4px;
	background: white;
}
/* End the region Header and Footer */

/* Region menu */
ul {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
}

a {
	text-decoration: none;
	color: #666;
	padding: 5px;
	margin: 15px;
}

a:hover {
	background-color: rgb(194, 194, 194);
	color: rgb(66, 66, 66);
}
/* End the region menu */

/* Region section */

/* End the region section */